<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <defaultStyles
    buttonStyle="width: 24px; height: 24px;"
    imageStyle="width: 4px; height: 4px;"
    dropdownStyle=""
    />
  <defaultCssClasses
    buttonClass=""
    imageClass=""
    dropdownClass="spaw2dropdown"
    />
  <customStyles>
    <item name="html" style="width: 49px; height: 19px;" />
    <item name="design" style="width: 53px; height: 19px;" />
  </customStyles>
  <!--
  <customCssClasses>
    <item name="" class="" />
    <item name="" class="" />
  </customCssClasses>
  -->
</settings>