<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <!-- DEFAULTS used when no value is set from code -->
  <!-- output charset (empty strings means charset specified in language file)  -->
  <setting name="default_output_charset" value="" />
  <!-- theme -->
  <setting name="default_theme" value="spaw2" />
  <!-- toolbarset -->
  <setting name="default_toolbarset" value="standard" />
  <!-- stylesheet -->
  <setting name="default_stylesheet" value="{SPAW DIR}wysiwyg.css" />
  <!-- width -->
  <setting name="default_width" value="100%" />
  <!-- height -->
  <setting name="default_height" value="200px" />
  <!-- END DEFAULTS -->

  <!-- specifies rendering mode to use: "xhtml" - renders using spaw's engine, "builtin" - renders using browsers engine -->
  <setting name="rendering_mode" value="xhtml" transferMode="JavaScript" />
  <!-- specifies that xhtml rendering engine should indent it's output -->
  <setting name="beautify_xhtml_output" type="bool"  value="true" transferMode="JavaScript" />
  <!-- specifies host and protocol part (like http://mydomain.com) that should be added to urls returned from file manager (and probably other places in the future) -->
  <setting name="base_href" value="" transferMode="JavaScript" />
  <!-- specifies if spaw should strip domain part from absolute urls (IE makes all links absolute) -->
  <setting name="strip_absolute_urls" type="bool"  value="true" transferMode="JavaScript" />
  <!-- specifies in which directions resizing is allowed (values: none, horizontal, vertical, both) -->
  <setting name="resizing_directions" value="vertical" transferMode="JavaScript" />


  <!-- data for style (css class) dropdown list -->
  <setting name="dropdown_data_core_style">
    <setting name="" value="Normal" />
    <setting name="style1" value="Style No.1" />
    <setting name="style2" value="Style No.2" />
  </setting>
  <!-- data for style (css class) dropdown in table properties dialog -->
  <setting name="table_styles">
    <setting name="" value="Normal" />
    <setting name="style1" value="Style No.1" />
    <setting name="style2" value="Style No.2" />
  </setting>
  <!-- data for style (css class) dropdown in table cell properties dialog -->
  <setting name="table_cell_styles">
    <setting name="" value="Normal" />
    <setting name="style1" value="Style No.1" />
    <setting name="style2" value="Style No.2" />
  </setting>
  <!-- data for style (css class) dropdown in image properties dialog -->
  <setting name="image_styles">
    <setting name="" value="Normal" />
    <setting name="style1" value="Style No.1" />
    <setting name="style2" value="Style No.2" />
  </setting>
  <!-- data for fonts dropdown list -->
  <setting name="dropdown_data_core_fontname">
    <setting name="" value="Default" />
    <setting name="Arial" value="Arial" />
    <setting name="Courier" value="Courier" />
    <setting name="Tahoma" value="Tahoma" />
    <setting name="Times New Roman" value="Times" />
    <setting name="Verdana" value="Verdana" />
  </setting>
  <!-- data for fontsize dropdown list -->
  <setting name="dropdown_data_core_fontsize">
    <setting name="" value="Default" />
    <setting name="1" value="1" />
    <setting name="2" value="2" />
    <setting name="3" value="3" />
    <setting name="4" value="4" />
    <setting name="5" value="5" />
    <setting name="6" value="6" />
  </setting>
  <!-- data for paragraph dropdown list -->
  <setting name="dropdown_data_core_formatBlock">
    <setting name="Normal" value="Normal" />
    <setting name="&lt;H1&gt;" value="Heading 1" />
    <setting name="&lt;H2&gt;" value="Heading 2" />
    <setting name="&lt;H3&gt;" value="Heading 3" />
    <setting name="&lt;H4&gt;" value="Heading 4" />
    <setting name="&lt;H5&gt;" value="Heading 5" />
    <setting name="&lt;H6&gt;" value="Heading 6" />
    <setting name="&lt;pre&gt;" value="Preformatted" />
    <setting name="&lt;address&gt;" value="Address" />
    <setting name="&lt;paragraph&gt;" value="Paragraph" />
  </setting>
  <!-- data for link targets drodown list in hyperlink dialog -->
  <setting name="a_targets">
    <setting name="_self" value="Self" />
    <setting name="_blank" value="Blank" />
    <setting name="_top" value="Top" />
    <setting name="_parent" value="Parent" />
  </setting>
  <!-- data for quick links drodown list in hyperlink dialog -->
  <setting name="quick_links" transferMode="Secure">
    <setting name="http://spaweditor.com/" value="SPAW Editor" />
    <setting name="http://forums.solmetra.com/" value="SPAW Support Forums" />
    <setting name="http://blog.solmetra.com/" value="Solmetra's Developer Blog" />
  </setting>
  <!-- toolbar sets (should start with "toolbarset_" -->
  <!-- standard core toolbars -->
  <setting name="toolbarset_standard">
    <toolbar name="format" />
    <toolbar name="style" />
    <toolbar name="edit" />
    <toolbar name="table" />
    <toolbar name="plugins" />
    <toolbar name="insert" />
    <toolbar name="tools" />
  </setting>
  <!-- all core toolbars -->
  <setting name="toolbarset_all">
    <toolbar name="format" />
    <toolbar name="style" />
    <toolbar name="edit" />
    <toolbar name="table" />
    <toolbar name="plugins" />
    <toolbar name="insert" />
    <toolbar name="tools" />
    <toolbar name="font" />
  </setting>
  <!-- mini core toolbars -->
  <setting name="toolbarset_mini">
    <toolbar name="format" substitute="format_mini" />
    <toolbar name="edit" />
    <toolbar name="tools" />
  </setting>
  <!-- custom caisis slim toolbars -->
  <setting name="toolbarset_slim">
    <toolbar name="format" substitute="format_mini" />
    <toolbar name="insert_mini" />
    <toolbar name="edit" />
    <toolbar name="tools" />
  </setting>
  <setting name="toolbarset_patiented">
    <toolbar name="format" substitute="format_slim" />
    <toolbar name="table" />
  </setting>

  <!-- colorpicker config -->
  <setting name="colorpicker_predefined_colors" transferMode="Secure">
    <color value="black" />
    <color value="silver" />
    <color value="gray" />
    <color value="white" />
    <color value="maroon" />
    <color value="red" />
    <color value="purple" />
    <color value="fuchsia" />
    <color value="green" />
    <color value="lime" />
    <color value="olive" />
    <color value="yellow" />
    <color value="navy" />
    <color value="blue" />
    <color value="#fedcba" />
    <color value="aqua" />
  </setting>

  <!-- SpawFm plugin config: -->

  <!-- global filemanager settings -->
  <setting name="PG_SPAWFM_SETTINGS" transferMode="Secure">
    <settings
      allowModify="false"
      allowUpload="false"
      maxUploadFilesize="0"
      maxImgWidth="0"
      maxImgHeight="0"
      recursive="false"
      allowModifySubdirectories="false"
      allowCreateSubdirectories="false"
      />
    <allowedFileTypes any="true" />
    <forbiddenExtensions>
      <setting value="aspx" />
      <setting value="exe" />
      <setting value="com" />
      <setting value="bat" />
      <setting value="cmd" />
      <setting value="vbs" />
    </forbiddenExtensions>
  </setting>

  <!-- directories -->
  <setting name="PG_SPAWFM_DIRECTORIES" transferMode="Secure">

  </setting>
</settings>
