<?xml version="1.0" encoding="utf-8" ?>
<settings>

  <!-- default file types -->
  <setting name="PG_SPAWFM_FILETYPES" transferMode="Secure">
    <fileType name="images">
      <extension value="jpg" />
      <extension value="gif" />
      <extension value="png" />
    </fileType>

    <fileType name="flash">
      <extension value="swf" />
    </fileType>

    <fileType name="documents">
      <extension value="doc" />
      <extension value="xls" />
      <extension value="pdf" />
      <extension value="rtf" />
      <extension value="odt" />
      <extension value="ods" />
      <extension value="txt" />
    </fileType>

    <fileType name="audio">
      <extension value="wav" />
      <extension value="mp3" />
      <extension value="ogg" />
      <extension value="wma" />
    </fileType>

    <fileType name="video">
      <extension value="avi" />
      <extension value="mpg" />
      <extension value="mpeg" />
      <extension value="mov" />
      <extension value="wmv" />
    </fileType>

    <fileType name="archives">
      <extension value="zip" />
      <extension value="rar" />
      <extension value="gz" />
    </fileType>
  </setting>


  <!-- filetypes icons: -->
  <!-- default icons -->
  <setting name="PG_SPAWFM_FILETYPES_ICON_DEFAULT">
    <icon small="ico_default.gif" large="ico_default_big.gif" />
  </setting>
  <!-- icons for folders -->
  <setting name="PG_SPAWFM_FILETYPES_ICON_FOLDER">
    <icon small="ico_folder.gif" large="ico_folder_big.gif" />
  </setting>

  <!-- icons for specific filetypes (determined by their extensions) -->
  <setting name="PG_SPAWFM_FILETYPES_ICONS">
    <icon small="ico_image.gif" large="ico_image_big.gif">
      <extension value="jpg" />
      <extension value="gif" />
      <extension value="png" />
    </icon>
    <icon small="ico_flash.gif" large="ico_flash_big.gif">
      <extension value="swf" />
    </icon>
  </setting>

  <setting name="spawfm_path_separator" value="|" transferMode="JavaScript" />

</settings>